footer.page-footer
  div.container
    div.row
      div.col.l6.s12
        h5.white-text 로그인으로 돌아가기
        p.grey-text.text-lighten-4
        a.btn.waves-effect.waves-light.red.lighten-3(href="/login") 로그인
      div.col.l6.s12
        h5.white-text 비빌번호가 기억나지 않아요?
        a.btn.waves-effect.waves-light.red.lighten-3(href="/forgot-password") 비밀번호 분실
  div(ng-include="'components/footer/footer.html'")
