div(ng-include='"components/navbar/navbar.html"')

main.register
  div.section.teal.lighten-1
    div.container
      div.row
        div.col.s12
          h2.header.center-on-small-only.white-text 회원가입
          h4.light.red-text.text-lighten-4.center-on-small-only
  div.container.section
    div.row
      div.col.s12
        div.section
          include register-form
include footer

