div.row
  form.col.s12(name="form" ng-submit="register(form)" novalidate)
    div.row
      div.col.s12.input-field
        input.validate(name="email" ng-model="user.email" type="email" required="true" email-validator ng-trim="true")
        label(for="email") 이메일
      div.col.s12.input-field
        input.validate(name="password" ng-model="user.password" type="password" required="true" ng-minlength="6")
        label(for="password") 비밀번호
      div.col.s12
        blockquote(ng-show="(form.email.$error.required || form.password.$error.required) && submitted")
          | 이메일과 비밀번호를 입력하세요
        blockquote(ng-show="form.email.$error.email && submitted")
          | 이메일 주소 형식에 맞게 입력하세요
        blockquote(ng-show="form.password.$error.minlength && submitted")
          | 비밀번호는 6글자 이상 입력하세요
        blockquote(ng-bind="errors.other")
      div.col.s12
        button.btn.waves-effect.waves-light(type="submit") 회원가입
  div.col.s12.l6(ng-show="registerd")
    div.card.blue-grey.darken-1
      div.card-content.white-text
        span.card-title 가입 완료
        p 가입에 성공하였습니다.
        p {{user.email}} 계정으로 로그인 해보세요.
      div.card-action
        a(href="/login") 로그인
