@import "../bower_components/bootstrap/less/bootstrap.less";
@import "long-shadow.less";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

body,
html,
h1, h2, h3, h4, h5, h6 {
  font-family: "Nanum Gothic", "Clarendon", "Trade Gothic";
}

.title {
  background-color: lighten(@brand-primary, 15%);
  padding: 15px;
  margin-top: 10px;
  a {
    color: @gray-lighter;
  }
  a:hover,
  a:focus {
    text-decoration: none;
  }
  overflow: hidden;
  .longShadow(darken(@brand-primary, 20%), 50);
}


.brand-gray {
  border-color: @gray;
}
.brand-gray-light {
  border-color: @gray-light;
}

a {
  cursor: pointer;
}

.container {
  max-width: 800px;

  .edit {
    width: 37px;
  }
}

.bs-docs-sidebar {
  .nav {
    li>a {
      display: block;
      font-size: 13px;
      font-weight: 500;
      color: #999;
      padding: 4px 20px;
    }
    .active>a,
    .active:hover>a,
    .active:focus>a {
      padding-left: 18px;
      font-weight: 700;
      color: #563d7c;
      background-color: transparent;
      border-left: 2px solid #563d7c;
    }
  }
}

footer {
  height: 40px;
}

@media (max-width: 480px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;

    .page-header {
      margin-top: 20px;
    }
    .date {
      width: 90px;
    }
  }
}