body {
  /*padding-top: 70px;*/
  font-size: 14px;
}
footer {
  height: 40px;
}

.bs-docs-sidebar .nav>li>a {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: #999;
  padding: 4px 20px;
}
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  padding-left: 18px;
  font-weight: 700;
  color: #563d7c;
  background-color: transparent;
  border-left: 2px solid #563d7c;
}

.list-group .active a {
  color: #fff;
}
#control-btn {
  display: none;
}
.search-result {
  background: #fcf8e3;
  border-radius: 10px;
  padding: 3px;
}
@media (min-width: 992px) {
  #control {
    display: block !important;
  }
}
@media (max-width: 992px) {
  #control-btn {
    display: block;
  }
}
@media (max-width: 768px) {
  .category {
    display: none;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .date {
    width: 75px;
  }
  .total {
    display: none;
  }
}
