div(ng-repeat="dayExpenses in expenses")
  div.collection.with-header
    div.collection-header
      div.row
        div.col.s7: strong {{dayExpenses.date}}({{dayExpenses.date|date:"EEEE"}})
        div.col.s3: div.right-align: strong(ng-bind="dayExpenses.sum | number")
        div.col.s2
    div.collection-item(ng-repeat="expense in dayExpenses.expenses")
      div.row
        div.col.s7: div(ng-bind="expense.text")
        div.col.s3: div.right-align(ng-bind="expense.amount | number")
        div.col.s2: div.right-align
          a.secondary-content(ng-href="/expenses/edit/{{expense.id}}/{{expense.date}}/{{expense.text}}/{{expense.amount}}")
            i.mdi-content-send
