div(ng-include='"components/navbar/navbar.html"')
main.expenses
  div#index-banner.section
    div.container
      div.row
        div.col.s12
          h2.header.center-on-small-only 지출 현황
          h5.light.red-text.text-lighten-4.center-on-small-only
  div.container
    div.row
      div.col.s12
        include expenses-header
        include expenses-content
include footer
