* { 
	padding:0;
	margin:0;
}
body {
	background-color: white;
	font-family: Helvetica;  
	font-size: 22px;
}
a {
    text-decoration: none;
    color: white;
}

/* 버튼 스타일 정의 */
.btn{
	padding: 8px 20px;
	border: none;
	background-color: #493227;
	color: white;
	border-radius: 8px;
	font-size: 100%;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
}
.btn:hover {
    background-color: #7F3227;
}
	
#wrapper{
	margin: 0 auto;
	max-width: 480px;
}

/* top */
#top {
	text-align: center;
	padding: 10px 0;
	background-color: #493227;
	color: white;
	font-size: 90%;
}

/* view page */
#view_page {
    display: block;
}

#summary {
	text-align: center;	
	padding: 15px;
	background-color: #C18E44;
}

#total_amount {
	margin: 0 0 10px 0;
}

#contents {
	padding: 10px;
	line-height: 2em;
	background-color: #E0D0AA;
}
#contents h4 { /* 날짜 */
	color: #8DA893;
	font-size: 120%;
}
#contents p {
	color: black;
	padding: 0 0 0 10px;
}
#delete {
	border: none;
	color: #C18E44;
	font-size: 60%;
	background-color: #E0D0AA;
}
#morebtn {
	text-align: center;
    background-color: #E0D0AA;
    padding: 20px;
}

#footer {
	text-align: center;
	font-size: 80%;
	color: #aaa;
	padding: 10px;
}

/* write page */
#write_page {
    display: none;
}
#editor {
	background-color: #E0D0AA;
	padding: 20px 20px;
}
#date, #item, #text, #money {
	height: 30px;
	margin: 0 0 10px 0;
	font-size: 110%
}
#date, #item, #money {
	width: 160px;
}
#text {
	width: 80%;
}
#save {
	text-align: center;
}
