footer.page-footer
  div.container
    div.row
      div.col.l6.s12
        h5.white-text 처음 오셨나요?
        p.grey-text.text-lighten-4 계정을 만들어 가계부를 사용해보세요
        a.btn.waves-effect.waves-light.red.lighten-3(href="/register") 회원가입
      div.col.l6.s12
        h5.white-text 비빌번호가 기억나지 않아요?
        a.btn.waves-effect.waves-light.red.lighten-3(href="/forgot-password") 비밀번호 분실
  div(ng-include="'components/footer/footer.html'")
