div(ng-include='"components/navbar/navbar.html"')


div.container
  form(name="form" novalidate)
    div.form-group
      label(for="date") 날짜
      input.form-control(name="date" type="date" ng-model="expense.date" required="true")
      p(ng-show="showError(form.date, 'required')") 필수입력입니다
    div.form-group
      label(for="text") 내용
      input.form-control(name="text" type="text" ng-model="expense.text" required="true" ng-trim="true")
      p(ng-show="showError(form.text, 'required')") 필수입력입니다
    div.form-group
      label(for="amount") 금액
      input.form-control(name="amount" type="amount" ng-model="expense.amount" required="true" ng-trim="true")
      p(ng-show="showError(form.amount, 'required')") 필수입력입니다
    div.form-group
      button.btn.btn-success(type="submit" ng-click="save()") 저장
      button.btn.btn-default(type="button" ng-click="cancel()") 취소
      button.btn.btn-danger(type="button" ng-click="delete()") 삭제
  p(ng-bind="helpMsg")
