.modal.fade#write-expense(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog
		.modal-content
			form.form-horizontal(role="form" method="POST" action="/expense")
				.modal-header
					button.close(type="button" data-dismiss="modal" aria-hidden="true")
						| &times;
					h4.modal-title 새로운 지출
				.modal-body
					.form-group
						label.col-lg-2.control-label(for="inputDate") 날짜
						.col-lg-10
							- var tmp = new Date();
							- var date = tmp.getFullYear() + '-' + (tmp.getMonth() + 1) + '-' + tmp.getDate();
							input.form-control#date(type="text" name="date" value="#{date}")
					.form-group
						label.col-lg-2.control-label 지출 내용
						.col-lg-10
							input.form-control#text(type="text" name="text")
					.form-group
						label.col-lg-2.control-label 금액
						.col-lg-10
							input.form-control#amount(type="text" name="amount")
				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal")
						| Close
					button.btn.btn-primary#save-expense(type="submit")
						| Save