extends layout

block content
	.container
		h1.page-header
			a(href="#")
				| Money
		.jumbotron
			form(method="POST" action="/signin")
				.form-group
					input.form-control.input-lg(type="email" name="email" placeholder="Email address" required autofocus)
				.form-group
					input.form-control.input-lg(type="password" name="password" placeholder="Password" required)
				//- .form-group
				//- 	label.checkbox
				//- 		input(type="checkbox")
				//- 		| 기억하기
				.form-group
					button.btn.btn-lg.btn-success(type="submit") 로그인
			a.btn.btn-lg.btn-default#signin-btn(href="/signup" role="button")
				| 회원가입