extends layout

block content
	.container
		h1.page-header
			a(href="#")
				| Money
		.jumbotron
			form(method="POST" action="/signup")
				input.form-control.input-lg(type="email" name="email" placeholder="이메일 주소" required autofocus)
				input.form-control.input-lg(type="password" name="password" placeholder="비밀번호 생성" required)
				button.btn.btn-lg.btn-primary(type="submit") 계정생성
