.container(ng-controller="ExpenseCtrl")
  h1.title
    a(href="/")
      | OMG
      span(style="font-size:95%") 가계부
  .row
    .col-sm-10
      .jumbotron
        h3.text-muted
          span.glyphicon.glyphicon-calendar
          | &ensp;{{curMonth}} 지출
        h1
          span(style="font-size:50%") 총 지출:&ensp;
          | {{sum | number}}
          span(style="font-size:50%") &ensp;원
        a.btn.btn-primary.btn-lg.btn-block(ng-href="/new")
          span.glyphicon.glyphicon-plus-sign
          | &ensp;지출 입력
      table.table
        thead
          tr
            th 날짜
            th 지출 내용
            th.text-right 금액
            th.edit
          tr(ng-repeat="item in expense | orderBy: ['-date', '-id']")
            td.date {{item.date | date:'yyyy-MM-dd'}}
            td {{item.text}}
            td.text-right {{item.amount | number}}
            td.text-right.edit
              a.text-muted(ng-href="/edit/{{item.id}}/?date={{item.date}}&text={{item.text}}&amount={{item.amount}}")
                .glyphicon.glyphicon-info-sign
    //- 월 목록
    .col-sm-2
      .bs-docs-sidebar(ng-if="yearmonth")
        ul.nav.bs-docs-sidenav
          li(ng-repeat="month in yearmonth" ng-class="{active: month==curMonth}")
            a(ng-href="/expense/{{month}}" ng-bind="month" ng-click="logMonthly(month)")
      .form-group
        a.btn.btn-danger.btn-lg.btn-block(ng-click="signout()")
          span.glyphicon.glyphicon-off
          | &ensp;로그아웃