.container(ng-controller="ExpenseCtrl")
  h2.page-header
    a(href='/') Money
  .row
    //- 지출 내용
    .col-sm-10
      ul.list-inline
        li
          a.btn.btn-primary.btn-lg(ng-href="/new")
            span.glyphicon.glyphicon-pencil
          //- | &ensp;
        li.pull-right
          a.btn.btn-default.btn-lg(ng-click="signout()")
            span.glyphicon.glyphicon-off
      .alert.alert-warning(ng-show="sum && sum > 0 && expense.length > 0") 총 지출: {{sum | number}} 원
      table.table
        thead
          tr#table-header
            th 날짜
            th 지출 내용
            th.text-right 금액
            th.edit
          tr(ng-repeat="item in expense | orderBy: ['-date', '-id']")
            td.date {{item.date | date:'yyyy-MM-dd'}}
            td {{item.text}}
            td.text-right {{item.amount | number}}
            td.text-right.edit
              a.text-muted(ng-href="/edit/{{item.id}}/{{item.date}}/{{item.text}}/{{item.amount}}")
                .glyphicon.glyphicon-pencil
    //- 월 목록
    .col-sm-2
      .bs-docs-sidebar(ng-if="yearmonth")
        ul.nav.bs-docs-sidenav
          li(ng-repeat="month in yearmonth" ng-class="{active: month==curMonth}")
            a(ng-href="/expense/{{month}}" ng-bind="month")