.container(ng-controller="ExpenseCtrl")
  include include/header
  .row
    .col-sm-10
      .jumbotron
        h3.text-muted
          span.glyphicon.glyphicon-calendar
          | &ensp;{{curMonth}} 지출
        h1
          span(style="font-size:50%") 총 지출:&ensp;
          | {{sum | number}}
          span(style="font-size:50%") &ensp;원
        a.btn.btn-success.btn-lg.btn-block(ng-href="/new")
          span.glyphicon.glyphicon-plus-sign
          | &ensp;지출 입력
      table.table.table-hover(ng-repeat="dailyExpense in expense2")
        thead
          tr
            th {{dailyExpense.date}}
            th.text-right {{dailyExpense.sum | number}}
            th
        tbody
          tr(ng-repeat="item in dailyExpense.expense")
            td {{item.text}}
            td.text-right {{item.amount | number}}
            td.text-right.edit
              a.text-muted(ng-href="/edit/{{item.id}}/?date={{dailyExpense.date}}&text={{item.text}}&amount={{item.amount}}")
                .glyphicon.glyphicon-info-sign

    //- 월 목록
    .col-sm-2
      .bs-docs-sidebar(ng-if="yearmonth")
        ul.nav.bs-docs-sidenav
          li(ng-repeat="month in yearmonth" ng-class="{active: month==curMonth}")
            a(ng-href="/expense/{{month}}" ng-bind="month" ng-click="logMonthly(month)")
        hr.brand-gray-light
        a.btn.btn-danger(ng-click="signout()")
          span.glyphicon.glyphicon-off
          | &ensp;로그아웃