.container(ng-controller="ExpenseCtrl")
  h2.page-header
    a(href='/') Money
  .row
    //- 지출 내용
    .col-sm-10
      p
        .form-group
          a.btn.btn-default(data-target="#input-modal" role="button" data-toggle="modal")
            span.glyphicon.glyphicon-pencil 신규지출
        .form-group
          button.btn.btn-default(ng-click="signout()") 로그아웃
      //- 총 지출액 출력
      .alert.alert-warning
        | 총 지출: {{sum | number}} 원
      //- 지출 내역 출력
      table.table
        thead
          tr#table-header
            th 날짜
            th 지출 내용
            th.text-right 금액
            th
          tr(ng-repeat="item in expense | orderBy: ['-date', '-id']")
            td.date {{item.date | date:'yyyy-MM-dd'}}
            td {{item.text}}
            td.text-right {{item.amount | number}}
            td.text-left
              a(data-toggle="modal" data-target="#update-modal" role="button" ng-click="updateModal(item.id)")
                .glyphicon.glyphicon-pencil
    //- 월 목록
    .col-sm-2
      .bs-docs-sidebar
        ul.nav.bs-docs-sidenav(ng-repeat="month in yearmonth")
          li.active(ng-if="curMonth == month.yearmonth")
            a(ng-href="/expense/{{month.yearmonth}}") {{month.yearmonth}}
          li(ng-if="curMonth != month.yearmonth")
            a(ng-href="/expense/{{month.yearmonth}}") {{month.yearmonth}}
    include input-modal
    include update-modal