.container
  include include/header
  .jumbotron
    h3.text-muted
      span.glyphicon.glyphicon-plus-sign
      | &ensp;지출 입력
    form(ng-submit="submit()")
      .form-group
        input.form-control.input-lg(type="text" ng-model="date" placeholder="날짜" required)
      .form-group
        input.form-control.input-lg(type="text" ng-model="text" placeholder="내용" required focus-me)
      .form-group
        input.form-control.input-lg(type="text" ng-model="amount" placeholder="금액" required)
        small: em.text-danger(ng-bind="msg")
      hr.brand-gray-light
      .form-group
        .btn-group.btn-group-justified
          .btn-group
            a.btn.btn-default.btn-lg(ng-click="cancel()")
              span.glyphicon.glyphicon-arrow-left
              | &ensp;취소
          .btn-group
            button.btn.btn-success.btn-lg(type="submit" ng-disabled="!text || !validAmount")
              span.glyphicon.glyphicon-ok
              | &ensp;저장