.container
  h1.page-header
    a(href="/") Money
  .jumbotron
    form(ng-submit="submit()")
      .form-group
        input.form-control.input-lg(type="email" ng-model="email" name="email" placeholder="이메일 주소" required autofocus)
      .form-group
        input.form-control.input-lg(type="password" ng-model="password" name="password" placeholder="비밀번호 생성" required)
      .form-group
        button.btn.btn-lg.btn-primary(type="submit") 계정생성
        p {{msg}}
