div(ng-include='"components/navbar/navbar.html"')
div.container
    h1.page-header
        | 비밀번호 변경
    form(name="form" novalidate)
        div.form-group
            label(for="prePassword") 기존 비빌번호
            input.form-control(name="prePassword" ng-model="prePassword" type="password" required="true" ng-minlength="6" ng-trim="true" placeholder="{{msg.prePassword}}")
            p(ng-show="showError(form.prePassword, 'required', trySubmit)") 필수 입력입니다
            p(ng-show="showError(form.prePassword, 'minlength', trySubmit)") 6자글자 이상 입력하세요
        div.form-group
            label(for="newPassword1") 신규 비빌번호
            input.form-control(name="newPassword1" ng-model="newPassword1" type="password" required="true" ng-minlength="6" ng-trim="true" placeholder="{{msg.newPassword1}}")
            p(ng-show="showError(form.newPassword1, 'required', trySubmit)") 필수 입력입니다
            p(ng-show="showError(form.newPassword1, 'minlength', trySubmit)") 6자글자 이상 입력하세요
        div.form-group
            label(for="newPassword2") 신규 비밀번호 재입력
            input.form-control(name="newPassword2" ng-model="newPassword2" type="password" required="true" ng-minlength="6" ng-trim="true" placeholder="{{msg.newPassword2}}")
            p(ng-show="showError(form.newPassword2, 'required', trySubmit)") 필수 입력입니다
            p(ng-show="showError(form.newPassword2, 'minlength', trySubmit)") 6자글자 이상 입력하세요
        div.form-group
            button.btn.btn-success(type="submit" ng-click="resetPassword()") 비밀번호 변경
            p(ng-bind="msg.submit")

    p(ng-show="tryReset") 비밀번호 변경중...

    p(ng-show="resetSuccess")
        = '비밀번호가 변경되었습니다. '
        a(href='/login') 재로그인
        = ' 하세요.'