div(ng-controller="NavbarCtrl")
  header(role="navigation")
    div.container
      a.button-collapse.top-nav.full(href="#" data-activates="nav-mobile")
        i.mdi-navigation-menu
    ul#nav-mobile.side-nav.fixed
      li.logo
        a#logo-container.brand-logo(href="/") 가계부
      li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/register')}")
        a.waves-effect.waves-teal(href="/register") 회원가입
      li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}")
        a.waves-effect.waves-teal(href="/login") 로그인
      li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/reset-password')}")
        a.waves-effect.waves-teal(href="/reset-password") 비번변경
      li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}")
        a.waves-effect.waves-teal(href="" ng-click="logout()") 로그아웃

  script.
    (function ($) {
      $(function () {
        $('.button-collapse').sideNav({
          edge: 'left'
        });

        $('#nav-mobile > li > a').each(function () {
          $(this).on('click', function () {
            $('.button-collapse').sideNav('hide')
          })
        })
      }); // end of document ready
    })(jQuery); // end of jQuery name space
