div(ng-controller="NavbarCtrl")
  header(role="navigation" side-nav)
    div.container
      a.button-collapse.top-nav.full(href="#" data-activates="nav-mobile")
        i.mdi-navigation-menu
    ul#nav-mobile.side-nav.fixed
      li.logo
        a#logo-container.brand-logo(href="/") 가계부
      li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/register')}")
        a.waves-effect.waves-teal(href="/register") 회원가입
      li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}")
        a.waves-effect.waves-teal(href="/login") 로그인
      li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/reset-password')}")
        a.waves-effect.waves-teal(href="/reset-password") 비번변경
      li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}")
        a.waves-effect.waves-teal(href="" modal-trigger data-target="modal-logout") 로그아웃
      li.bold(ng-class="{active: isActive('/about')}")
        a.waves-effect.waves-teal(href="/about") About

  div#modal-logout.modal
    div.modal-content
      h4 로그아웃
      p 로그아웃 하시겠습니까?
    div.modal-footer
      a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") 아니오
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="" ng-click="logout()") 네

