nav {
  ul {
    li.active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}

a.button-collapse.top-nav {
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0px;
  float: none;
  margin-left: 1.5rem;
  color: #FFF;
  font-size: 32px;
  z-index: 2;
  position: absolute;
}