div(ng-controller="NavbarCtrl")
  header
    //nav.top-nav
      div.container
        div.nav-wrapper: a.page-title(href="#") 가계부
    div.container
      a.button-collapse.top-nav.waves-effect.waves-light.circle(href="/" data-activates="nav-mobile")
        i.mdi-navigation-menu
    ul#nav-mobile.side-nav.fixed
      li.logo
        a#logo-container.brand-logo(href="/") 가계부
      include submenus

  script.
    $('.button-collapse').sideNav()
