li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/register')}")
  a.waves-effect.waves-teal(href="/register") 회원가입
li.bold(ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}")
  a.waves-effect.waves-teal(href="/login") 로그인
li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/reset-password')}")
  a.waves-effect.waves-teal(href="/reset-password") 비번변경
li.bold(ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}")
  a.waves-effect.waves-teal(href="" ng-click="logout()") 로그아웃