footer.page-footer
  div.container
    div.row
      div.col.l6.s12
        h5.white-text 로그인으로 돌아가기
        p.grey-text.text-lighten-4
        a.btn.waves-effect.waves-light.red.lighten-3(href="/login") 로그인
  div(ng-include="'components/footer/footer.html'")

