div(ng-include='"components/navbar/navbar.html"')
div.container
  h1.page-header
    | 비밀번호 초기화
    p: small: small {{msg}}
  form(name="form" novalidate)
    div.form-group
      label(for="name") 이메일
      input.form-control(name="email" ng-model="email" type="email" required="true" email-validator ng-trim="true")
      small(ng-show="showError(form.email, 'required', trySubmit)"): i.text-danger 필수 입력입니다
      small(ng-show="showError(form.email, 'email', trySubmit)"): i.text-danger 올바른 이메일 주소를 입력하세요
    div.form-group
      button.btn.btn-success(type="submit" ng-click="resetPassword()") 비밀번호 초기화
      p(ng-bind="helpMsg")
  hr
  p
    = '로그인으로 돌아가기 '
    a(ng-href="/login")
      span.glyphicon.glyphicon-chevron-right
      | 로그인
