div.row
  form.col.s12(name="form" ng-submit="save(form)" novalidate)
    div.row
      div.col.s12.input-field
        div.active(datepicker ng-model="expense.date")
      div.col.s12.input-field
        input.validate(type="text" name="text" ng-model="expense.text" required="true" ng-trim="true")
        label.active(for="text") 내용
      div.col.s12.input-field
        input.validate(name="amount" ng-model="expense.amount" type="number" required="true")
        label.active(for="amount") 금액

      div.col.s12
        blockquote(ng-show="form.date.$error.required || form.text.$error.required || form.amount.$error.required")
          | 모든 필드를 입력하세요
        blockquote(ng-show="form.amount.$error.number")
          | 금액은 숫자만 입력하세요

      div.col.s12
        button.btn.waves-effect.waves-light(type="submit" ng-class="{disabled: form.$invalid}") 저장
        button.btn.waves-effect.waves-light(type="button" ng-click="cancel()" style="margin-left:5px") 취소
        button.btn.waves-effect.waves-light(type="button" modal-trigger data-target="modal-delete-expense" style="margin-left:5px") 삭제

  div#modal-delete-expense.modal
    div.modal-content
      h4 삭제
      p 지출 이력을 삭제할까요?
    div.modal-footer
      a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") 아니오
      a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="" ng-click="delete()") 네

