div(ng-include='"components/navbar/navbar.html"')
div.container
  h1.page-header
    | 로그인
  form(name="form" novalidate)
    div.form-group
      label(for="name") 이메일
      input.form-control(name="email" type="email" ng-model="email" required="true" email-validator ng-trim="true" placeholder="이메일" autofocus)
      small(ng-show="showError(form.email, 'required', trySubmit)"): i.text-danger 필수입력입니다
      small(ng-show="showError(form.email, 'email', trySubmit)"): i.text-danger 올바른 이메일 주소를 입력하세요
    div.form-group
      label(for="pass") 비밀번호
      input.form-control(name="pass" type="password" ng-model="pass" required="true" ng-minlength="6" ng-trim="true" placeholder="비밀번호")
      small(ng-show="showError(form.pass, 'required', trySubmit)"): i.text-danger 필수입력입니다
      small(ng-show="showError(form.pass, 'minlength', trySubmit)"): i.text-danger 6자글자 이상 입력하세요
    div.form-group
      button.btn.btn-success(type="submit" ng-click="login(email, pass)") 로그인
  p: small: i.text-danger(ng-bind="helpMsg")
  hr
  p
    | 처음 오셨나요?&ensp;
    a(ng-href="/register")
      span.glyphicon.glyphicon-chevron-right
      | 회원가입
  p
    | 비밀번호가 기억나지 않아요?&ensp;
    a(ng-href="/forgot-password")
      span.glyphicon.glyphicon-chevron-right
      | 비밀번호 분실

